img{
    width: 100%;
}

body{
    background-color: rgb(139, 185, 192);
}

main{
    border: 3px solid rgb(89, 169, 182);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(47, 117, 128);
    margin: auto;
    width: 80%;
    height: 600px;
    margin-top: 20px;
}

.box{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.photo{
    width: 30%;
}